In [1]:
import pandas as pd
import numpy as np

In [4]:
location = "C:/Users/GBTC408009ur/Documents/sj_advance data analytics/Final Project/import_expenditures_on_health.xlsx"
health_df = pd.read_excel(location)

In [5]:
health_df.head()

,Data_Type,Region_Country_Area_Code,Region_Country_Area_Name,Year,Series,Value,Footnotes,Source
0,Expenditure on health,4,Afghanistan,2005,Current health expenditure (% of GDP),9.9483,NaN,"World Health Organization (WHO), Geneva, WHO G..."
1,Expenditure on health,4,Afghanistan,2010,Current health expenditure (% of GDP),8.5697,NaN,"World Health Organization (WHO), Geneva, WHO G..."
2,Expenditure on health,4,Afghanistan,2014,Current health expenditure (% of GDP),9.5289,NaN,"World Health Organization (WHO), Geneva, WHO G..."
3,Expenditure on health,4,Afghanistan,2015,Current health expenditure (% of GDP),10.0940,NaN,"World Health Organization (WHO), Geneva, WHO G..."
4,Expenditure on health,4,Afghanistan,2016,Current health expenditure (% of GDP),10.1987,NaN,"World Health Organization (WHO), Geneva, WHO G..."

In [8]:
location2 = "C:/Users/GBTC408009ur/Documents/sj_advance data analytics/Final Project/import_populationgrowth.xlsx"
population_df = pd.read_excel(location2)

In [9]:
population_df.head()

,Data_Type,Region_Country_Area_Code,Region_Country_Area_Name,Year,Series,Value,Footnotes,Source
0,Population growth and indicators of fertility ...,1,"Total, all countries or areas",2005,Population annual rate of increase (percent),1.3,Data refers to a 5-year period preceding the r...,"United Nations Population Division, New York, ..."
1,Population growth and indicators of fertility ...,1,"Total, all countries or areas",2005,Total fertility rate (children per women),2.6,Data refers to a 5-year period preceding the r...,"United Nations Population Division, New York, ..."
2,Population growth and indicators of fertility ...,1,"Total, all countries or areas",2005,"Infant mortality for both sexes (per 1,000 liv...",49.1,Data refers to a 5-year period preceding the r...,"United Nations Statistics Division, New York, ..."
3,Population growth and indicators of fertility ...,1,"Total, all countries or areas",2005,"Maternal mortality ratio (deaths per 100,000 p...",288.0,NaN,"World Health Organization (WHO), the United Na..."
4,Population growth and indicators of fertility ...,1,"Total, all countries or areas",2005,Life expectancy at birth for both sexes (years),67.2,Data refers to a 5-year period preceding the r...,"United Nations Population Division, New York, ..."

In [10]:
population_df.shape

(4978, 8)

In [11]:
#show the column names in the dataset
population_df.columns

Index(['Data_Type', 'Region_Country_Area_Code', 'Region_Country_Area_Name',
       'Year', 'Series', 'Value', 'Footnotes', 'Source'],
      dtype='object')

In [67]:
#number of non-NA values
#len(df) would count rows including NA values
population_df.count()

Data_Type                   4978
Region_Country_Area_Code    4978
Region_Country_Area_Name    4978
Year                        4978
Series                      4978
Value                       4978
Footnotes                   4319
Source                      4978
dtype: int64

In [74]:
#New data frame without foot note & source
new_df = pd.DataFrame(data = population_df, columns=['Region_Country_Area_Code','Region_Country_Area_Name','Year','Series','Value'])

In [75]:
#making sure no missing data
new_df.count()

Region_Country_Area_Code    4978
Region_Country_Area_Name    4978
Year                        4978
Series                      4978
Value                       4978
dtype: int64

In [76]:
new_df.head()

,Region_Country_Area_Code,Region_Country_Area_Name,Year,Series,Value
0,1,"Total, all countries or areas",2005,Population annual rate of increase (percent),1.3
1,1,"Total, all countries or areas",2005,Total fertility rate (children per women),2.6
2,1,"Total, all countries or areas",2005,"Infant mortality for both sexes (per 1,000 liv...",49.1
3,1,"Total, all countries or areas",2005,"Maternal mortality ratio (deaths per 100,000 p...",288.0
4,1,"Total, all countries or areas",2005,Life expectancy at birth for both sexes (years),67.2

In [77]:
#Changing column headers
new_df.columns = ['Region_code', 'Region_name', 'Year', 'Series', 'Value']

In [72]:
new_df.head()

,Region_code,Region_name,Year,Series,Value
0,1,"Total, all countries or areas",2005,Population annual rate of increase (percent),1.3
1,1,"Total, all countries or areas",2005,Total fertility rate (children per women),2.6
2,1,"Total, all countries or areas",2005,"Infant mortality for both sexes (per 1,000 liv...",49.1
3,1,"Total, all countries or areas",2005,"Maternal mortality ratio (deaths per 100,000 p...",288.0
4,1,"Total, all countries or areas",2005,Life expectancy at birth for both sexes (years),67.2

In [98]:
regions = [1,2,15,202,14, 16, 17, 18, 11, 19, 419, 29, 13, 5, 3, 21, 142, 143, 30, 35, 34, 145, 150, 
           151, 154, 39, 155, 9, 53, 54, 57,61, 62, 136, 830]
region_df = new_df[new_df['Region_code'].isin(regions) ]
country_df = new_df[~new_df['Region_code'].isin(regions) ]

In [94]:
region_df

,Region_code,Region_name,Year,Series,Value
0,1,"Total, all countries or areas",2005,Population annual rate of increase (percent),1.3
1,1,"Total, all countries or areas",2005,Total fertility rate (children per women),2.6
2,1,"Total, all countries or areas",2005,"Infant mortality for both sexes (per 1,000 liv...",49.1
3,1,"Total, all countries or areas",2005,"Maternal mortality ratio (deaths per 100,000 p...",288.0
4,1,"Total, all countries or areas",2005,Life expectancy at birth for both sexes (years),67.2
5,1,"Total, all countries or areas",2005,Life expectancy at birth for males (years),65.0
6,1,"Total, all countries or areas",2005,Life expectancy at birth for females (years),69.5
7,1,"Total, all countries or areas",2010,Population annual rate of increase (percent),1.2
8,1,"Total, all countries or areas",2010,Total fertility rate (children per women),2.6
9,1,"Total, all countries or areas",2010,"Infant mortality for both sexes (per 1,000 liv...",41.3
10,1,"Total, all countries or areas",2010,"Maternal mortality ratio (deaths per 100,000 p...",246.0
11,1,"Total, all countries or areas",2010,Life expectancy at birth for both sexes (years),69.1
12,1,"Total, all countries or areas",2010,Life expectancy at birth for males (years),66.9
13,1,"Total, all countries or areas",2010,Life expectancy at birth for females (years),71.3
14,1,"Total, all countries or areas",2015,Population annual rate of increase (percent),1.2
15,1,"Total, all countries or areas",2015,Total fertility rate (children per women),2.5
16,1,"Total, all countries or areas",2015,"Infant mortality for both sexes (per 1,000 liv...",35.0
17,1,"Total, all countries or areas",2015,"Maternal mortality ratio (deaths per 100,000 p...",216.0
18,1,"Total, all countries or areas",2015,Life expectancy at birth for both sexes (years),70.8
19,1,"Total, all countries or areas",2015,Life expectancy at birth for males (years),68.6
20,1,"Total, all countries or areas",2015,Life expectancy at birth for females (years),73.1
21,2,Africa,2005,Population annual rate of increase (percent),2.5
22,2,Africa,2005,Total fertility rate (children per women),5.1
23,2,Africa,2005,"Infant mortality for both sexes (per 1,000 liv...",80.7
24,2,Africa,2005,Life expectancy at birth for both sexes (years),53.7
25,2,Africa,2005,Life expectancy at birth for males (years),52.2
26,2,Africa,2005,Life expectancy at birth for females (years),55.2
27,2,Africa,2010,Population annual rate of increase (percent),2.5
28,2,Africa,2010,Total fertility rate (children per women),4.9
29,2,Africa,2010,"Infant mortality for both sexes (per 1,000 liv...",68.1
...,...,...,...,...,...
534,57,Micronesia,2010,Population annual rate of increase (percent),0.0
535,57,Micronesia,2010,Total fertility rate (children per women),3.0
536,57,Micronesia,2010,"Infant mortality for both sexes (per 1,000 liv...",29.1
537,57,Micronesia,2010,Life expectancy at birth for both sexes (years),71.9
538,57,Micronesia,2010,Life expectancy at birth for males (years),69.7
539,57,Micronesia,2010,Life expectancy at birth for females (years),74.3
540,57,Micronesia,2015,Population annual rate of increase (percent),0.6
541,57,Micronesia,2015,Total fertility rate (children per women),3.0
542,57,Micronesia,2015,"Infant mortality for both sexes (per 1,000 liv...",27.9
543,57,Micronesia,2015,Life expectancy at birth for both sexes (years),72.8
544,57,Micronesia,2015,Life expectancy at birth for males (years),70.5
545,57,Micronesia,2015,Life expectancy at birth for females (years),75.3
546,61,Polynesia,2005,Population annual rate of increase (percent),0.9
547,61,Polynesia,2005,Total fertility rate (children per women),3.3
548,61,Polynesia,2005,"Infant mortality for both sexes (per 1,000 liv...",19.9
549,61,Polynesia,2005,Life expectancy at birth for both sexes (years),71.6
550,61,Polynesia,2005,Life expectancy at birth for males (years),68.9
551,61,Polynesia,2005,Life expectancy at birth for females (years),74.6
552,61,Polynesia,2010,Population annual rate of increase (percent),0.5
553,61,Polynesia,2010,Total fertility rate (children per women),3.2
554,61,Polynesia,2010,"Infant mortality for both sexes (per 1,000 liv...",17.6
555,61,Polynesia,2010,Life expectancy at birth for both sexes (years),73.2
556,61,Polynesia,2010,Life expectancy at birth for males (years),70.6
557,61,Polynesia,2010,Life expectancy at birth for females (years),76.1
558,61,Polynesia,2015,Population annual rate of increase (percent),0.5
559,61,Polynesia,2015,Total fertility rate (children per women),3.0
560,61,Polynesia,2015,"Infant mortality for both sexes (per 1,000 liv...",15.2
561,61,Polynesia,2015,Life expectancy at birth for both sexes (years),74.5
562,61,Polynesia,2015,Life expectancy at birth for males (years),72.0
563,61,Polynesia,2015,Life expectancy at birth for females (years),77.4

In [100]:
#Saving to excel
writer = pd.ExcelWriter('region_df.xlsx', engine='xlsxwriter')
region_df.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [101]:
writer = pd.ExcelWriter('country_df.xlsx', engine='xlsxwriter')
country_df.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [ ]:
#finds rows where the region code represents regions and doesn't represent countries
#Isolating countries from regions
#new_df.loc[df['Region_code'] == 1 or ] 
regions = [1,2,15,202,14,17, 18, 11, 19, 419, 29, 13, 5, 3, 21, 142, 143, 30, 35, 34, 145, 150, 
           151, 154, 39, 155, 9, 53, 54, 57,61]
#country_df = new_df.loc[df['Region_code'] not in regions 
for region in regions:
    for ind in new_df.index: 
        if new_df['Region_code'][ind] == region:
            new_df.loc[new_df['Region_code'] == region , 'Region_code'] =0

In [21]:
new_df.describe

<bound method NDFrame.describe of       Region_code                    Region_name  Year  \
0               1  Total, all countries or areas  2005
1               1  Total, all countries or areas  2005
2               1  Total, all countries or areas  2005
3               1  Total, all countries or areas  2005
4               1  Total, all countries or areas  2005
5               1  Total, all countries or areas  2005
6               1  Total, all countries or areas  2005
7               1  Total, all countries or areas  2010
8               1  Total, all countries or areas  2010
9               1  Total, all countries or areas  2010
10              1  Total, all countries or areas  2010
11              1  Total, all countries or areas  2010
12              1  Total, all countries or areas  2010
13              1  Total, all countries or areas  2010
14              1  Total, all countries or areas  2015
15              1  Total, all countries or areas  2015
16              1  Total, all countries or areas  2015
17              1  Total, all countries or areas  2015
18              1  Total, all countries or areas  2015
19              1  Total, all countries or areas  2015
20              1  Total, all countries or areas  2015
21              2                         Africa  2005
22              2                         Africa  2005
23              2                         Africa  2005
24              2                         Africa  2005
25              2                         Africa  2005
26              2                         Africa  2005
27              2                         Africa  2010
28              2                         Africa  2010
29              2                         Africa  2010
...           ...                            ...   ...
4948          894                         Zambia  2010
4949          894                         Zambia  2010
4950          894                         Zambia  2015
4951          894                         Zambia  2015
4952          894                         Zambia  2015
4953          894                         Zambia  2015
4954          894                         Zambia  2015
4955          894                         Zambia  2015
4956          894                         Zambia  2015
4957          716                       Zimbabwe  2005
4958          716                       Zimbabwe  2005
4959          716                       Zimbabwe  2005
4960          716                       Zimbabwe  2005
4961          716                       Zimbabwe  2005
4962          716                       Zimbabwe  2005
4963          716                       Zimbabwe  2005
4964          716                       Zimbabwe  2010
4965          716                       Zimbabwe  2010
4966          716                       Zimbabwe  2010
4967          716                       Zimbabwe  2010
4968          716                       Zimbabwe  2010
4969          716                       Zimbabwe  2010
4970          716                       Zimbabwe  2010
4971          716                       Zimbabwe  2015
4972          716                       Zimbabwe  2015
4973          716                       Zimbabwe  2015
4974          716                       Zimbabwe  2015
4975          716                       Zimbabwe  2015
4976          716                       Zimbabwe  2015
4977          716                       Zimbabwe  2015

                                                 Series  Value
0          Population annual rate of increase (percent)    1.3
1             Total fertility rate (children per women)    2.6
2     Infant mortality for both sexes (per 1,000 liv...   49.1
3     Maternal mortality ratio (deaths per 100,000 p...  288.0
4       Life expectancy at birth for both sexes (years)   67.2
5            Life expectancy at birth for males (years)   65.0
6          Life expectancy at birth for females (years)   69.5
7          Population annual rate of increase (percent)    1.2
8             Total fertility rate (children per women)    2.6
9     Infant mortality for both sexes (per 1,000 liv...   41.3
10    Maternal mortality ratio (deaths per 100,000 p...  246.0
11      Life expectancy at birth for both sexes (years)   69.1
12           Life expectancy at birth for males (years)   66.9
13         Life expectancy at birth for females (years)   71.3
14         Population annual rate of increase (percent)    1.2
15            Total fertility rate (children per women)    2.5
16    Infant mortality for both sexes (per 1,000 liv...   35.0
17    Maternal mortality ratio (deaths per 100,000 p...  216.0
18      Life expectancy at birth for both sexes (years)   70.8
19           Life expectancy at birth for males (years)   68.6
20         Life expectancy at birth for females (years)   73.1
21         Population annual rate of increase (percent)    2.5
22            Total fertility rate (children per women)    5.1
23    Infant mortality for both sexes (per 1,000 liv...   80.7
24      Life expectancy at birth for both sexes (years)   53.7
25           Life expectancy at birth for males (years)   52.2
26         Life expectancy at birth for females (years)   55.2
27         Population annual rate of increase (percent)    2.5
28            Total fertility rate (children per women)    4.9
29    Infant mortality for both sexes (per 1,000 liv...   68.1
...                                                 ...    ...
4948         Life expectancy at birth for males (years)   51.2
4949       Life expectancy at birth for females (years)   54.7
4950       Population annual rate of increase (percent)    3.0
4951          Total fertility rate (children per women)    5.2
4952  Infant mortality for both sexes (per 1,000 liv...   53.8
4953  Maternal mortality ratio (deaths per 100,000 p...  224.0
4954    Life expectancy at birth for both sexes (years)   59.7
4955         Life expectancy at birth for males (years)   57.5
4956       Life expectancy at birth for females (years)   61.9
4957       Population annual rate of increase (percent)    1.1
4958          Total fertility rate (children per women)    4.0
4959  Infant mortality for both sexes (per 1,000 liv...   67.2
4960  Maternal mortality ratio (deaths per 100,000 p...  629.0
4961    Life expectancy at birth for both sexes (years)   44.1
4962         Life expectancy at birth for males (years)   42.7
4963       Life expectancy at birth for females (years)   45.5
4964       Population annual rate of increase (percent)    1.7
4965          Total fertility rate (children per women)    4.0
4966  Infant mortality for both sexes (per 1,000 liv...   58.3
4967  Maternal mortality ratio (deaths per 100,000 p...  446.0
4968    Life expectancy at birth for both sexes (years)   48.4
4969         Life expectancy at birth for males (years)   47.2
4970       Life expectancy at birth for females (years)   49.4
4971       Population annual rate of increase (percent)    2.3
4972          Total fertility rate (children per women)    4.0
4973  Infant mortality for both sexes (per 1,000 liv...   46.5
4974  Maternal mortality ratio (deaths per 100,000 p...  443.0
4975    Life expectancy at birth for both sexes (years)   57.6
4976         Life expectancy at birth for males (years)   56.1
4977       Life expectancy at birth for females (years)   59.0

[4978 rows x 5 columns]>

In [32]:
#finds rows where the region code represents regions and doesn't represent countries
#Isolating countries from regions
#new_df.loc[df['Region_code'] == 1 or ] 
regions = [1,2,15,202,14,17, 18, 11, 19, 419, 29, 13, 5, 3, 21, 142, 143, 30, 35, 34, 145, 150, 
           151, 154, 39, 155, 9, 53, 54, 57,61]
#country_df = new_df.loc[df['Region_code'] not in regions 
for region in regions:
    for ind in new_df.index: 
        if new_df['Region_code'][ind] == region:
            new_df.drop(new_df.index[ind], inplace = True)
            #country_df = new_df.drop('Region_code', inplace=True)

KeyError: 2

In [31]:
new_df

,Region_code,Region_name,Year,Series,Value
0,1,"Total, all countries or areas",2005,Population annual rate of increase (percent),1.3
1,1,"Total, all countries or areas",2005,Total fertility rate (children per women),2.6
2,1,"Total, all countries or areas",2005,"Infant mortality for both sexes (per 1,000 liv...",49.1
3,1,"Total, all countries or areas",2005,"Maternal mortality ratio (deaths per 100,000 p...",288.0
4,1,"Total, all countries or areas",2005,Life expectancy at birth for both sexes (years),67.2
5,1,"Total, all countries or areas",2005,Life expectancy at birth for males (years),65.0
6,1,"Total, all countries or areas",2005,Life expectancy at birth for females (years),69.5
7,1,"Total, all countries or areas",2010,Population annual rate of increase (percent),1.2
8,1,"Total, all countries or areas",2010,Total fertility rate (children per women),2.6
9,1,"Total, all countries or areas",2010,"Infant mortality for both sexes (per 1,000 liv...",41.3
10,1,"Total, all countries or areas",2010,"Maternal mortality ratio (deaths per 100,000 p...",246.0
11,1,"Total, all countries or areas",2010,Life expectancy at birth for both sexes (years),69.1
12,1,"Total, all countries or areas",2010,Life expectancy at birth for males (years),66.9
13,1,"Total, all countries or areas",2010,Life expectancy at birth for females (years),71.3
14,1,"Total, all countries or areas",2015,Population annual rate of increase (percent),1.2
15,1,"Total, all countries or areas",2015,Total fertility rate (children per women),2.5
16,1,"Total, all countries or areas",2015,"Infant mortality for both sexes (per 1,000 liv...",35.0
17,1,"Total, all countries or areas",2015,"Maternal mortality ratio (deaths per 100,000 p...",216.0
18,1,"Total, all countries or areas",2015,Life expectancy at birth for both sexes (years),70.8
19,1,"Total, all countries or areas",2015,Life expectancy at birth for males (years),68.6
20,1,"Total, all countries or areas",2015,Life expectancy at birth for females (years),73.1
21,2,Africa,2005,Population annual rate of increase (percent),2.5
22,2,Africa,2005,Total fertility rate (children per women),5.1
23,2,Africa,2005,"Infant mortality for both sexes (per 1,000 liv...",80.7
24,2,Africa,2005,Life expectancy at birth for both sexes (years),53.7
25,2,Africa,2005,Life expectancy at birth for males (years),52.2
26,2,Africa,2005,Life expectancy at birth for females (years),55.2
27,2,Africa,2010,Population annual rate of increase (percent),2.5
28,2,Africa,2010,Total fertility rate (children per women),4.9
29,2,Africa,2010,"Infant mortality for both sexes (per 1,000 liv...",68.1
...,...,...,...,...,...
4948,894,Zambia,2010,Life expectancy at birth for males (years),51.2
4949,894,Zambia,2010,Life expectancy at birth for females (years),54.7
4950,894,Zambia,2015,Population annual rate of increase (percent),3.0
4951,894,Zambia,2015,Total fertility rate (children per women),5.2
4952,894,Zambia,2015,"Infant mortality for both sexes (per 1,000 liv...",53.8
4953,894,Zambia,2015,"Maternal mortality ratio (deaths per 100,000 p...",224.0
4954,894,Zambia,2015,Life expectancy at birth for both sexes (years),59.7
4955,894,Zambia,2015,Life expectancy at birth for males (years),57.5
4956,894,Zambia,2015,Life expectancy at birth for females (years),61.9
4957,716,Zimbabwe,2005,Population annual rate of increase (percent),1.1
4958,716,Zimbabwe,2005,Total fertility rate (children per women),4.0
4959,716,Zimbabwe,2005,"Infant mortality for both sexes (per 1,000 liv...",67.2
4960,716,Zimbabwe,2005,"Maternal mortality ratio (deaths per 100,000 p...",629.0
4961,716,Zimbabwe,2005,Life expectancy at birth for both sexes (years),44.1
4962,716,Zimbabwe,2005,Life expectancy at birth for males (years),42.7
4963,716,Zimbabwe,2005,Life expectancy at birth for females (years),45.5
4964,716,Zimbabwe,2010,Population annual rate of increase (percent),1.7
4965,716,Zimbabwe,2010,Total fertility rate (children per women),4.0
4966,716,Zimbabwe,2010,"Infant mortality for both sexes (per 1,000 liv...",58.3
4967,716,Zimbabwe,2010,"Maternal mortality ratio (deaths per 100,000 p...",446.0
4968,716,Zimbabwe,2010,Life expectancy at birth for both sexes (years),48.4
4969,716,Zimbabwe,2010,Life expectancy at birth for males (years),47.2
4970,716,Zimbabwe,2010,Life expectancy at birth for females (years),49.4
4971,716,Zimbabwe,2015,Population annual rate of increase (percent),2.3
4972,716,Zimbabwe,2015,Total fertility rate (children per women),4.0
4973,716,Zimbabwe,2015,"Infant mortality for both sexes (per 1,000 liv...",46.5
4974,716,Zimbabwe,2015,"Maternal mortality ratio (deaths per 100,000 p...",443.0
4975,716,Zimbabwe,2015,Life expectancy at birth for both sexes (years),57.6
4976,716,Zimbabwe,2015,Life expectancy at birth for males (years),56.1
4977,716,Zimbabwe,2015,Life expectancy at birth for females (years),59.0

In [28]:
country_df

,Region_name,Year,Series,Value
0,"Total, all countries or areas",2005,Population annual rate of increase (percent),1.3
1,"Total, all countries or areas",2005,Total fertility rate (children per women),2.6
2,"Total, all countries or areas",2005,"Infant mortality for both sexes (per 1,000 liv...",49.1
3,"Total, all countries or areas",2005,"Maternal mortality ratio (deaths per 100,000 p...",288.0
4,"Total, all countries or areas",2005,Life expectancy at birth for both sexes (years),67.2
5,"Total, all countries or areas",2005,Life expectancy at birth for males (years),65.0
6,"Total, all countries or areas",2005,Life expectancy at birth for females (years),69.5
7,"Total, all countries or areas",2010,Population annual rate of increase (percent),1.2
8,"Total, all countries or areas",2010,Total fertility rate (children per women),2.6
9,"Total, all countries or areas",2010,"Infant mortality for both sexes (per 1,000 liv...",41.3
10,"Total, all countries or areas",2010,"Maternal mortality ratio (deaths per 100,000 p...",246.0
11,"Total, all countries or areas",2010,Life expectancy at birth for both sexes (years),69.1
12,"Total, all countries or areas",2010,Life expectancy at birth for males (years),66.9
13,"Total, all countries or areas",2010,Life expectancy at birth for females (years),71.3
14,"Total, all countries or areas",2015,Population annual rate of increase (percent),1.2
15,"Total, all countries or areas",2015,Total fertility rate (children per women),2.5
16,"Total, all countries or areas",2015,"Infant mortality for both sexes (per 1,000 liv...",35.0
17,"Total, all countries or areas",2015,"Maternal mortality ratio (deaths per 100,000 p...",216.0
18,"Total, all countries or areas",2015,Life expectancy at birth for both sexes (years),70.8
19,"Total, all countries or areas",2015,Life expectancy at birth for males (years),68.6
20,"Total, all countries or areas",2015,Life expectancy at birth for females (years),73.1
21,Africa,2005,Population annual rate of increase (percent),2.5
22,Africa,2005,Total fertility rate (children per women),5.1
23,Africa,2005,"Infant mortality for both sexes (per 1,000 liv...",80.7
24,Africa,2005,Life expectancy at birth for both sexes (years),53.7
25,Africa,2005,Life expectancy at birth for males (years),52.2
26,Africa,2005,Life expectancy at birth for females (years),55.2
27,Africa,2010,Population annual rate of increase (percent),2.5
28,Africa,2010,Total fertility rate (children per women),4.9
29,Africa,2010,"Infant mortality for both sexes (per 1,000 liv...",68.1
...,...,...,...,...
4948,Zambia,2010,Life expectancy at birth for males (years),51.2
4949,Zambia,2010,Life expectancy at birth for females (years),54.7
4950,Zambia,2015,Population annual rate of increase (percent),3.0
4951,Zambia,2015,Total fertility rate (children per women),5.2
4952,Zambia,2015,"Infant mortality for both sexes (per 1,000 liv...",53.8
4953,Zambia,2015,"Maternal mortality ratio (deaths per 100,000 p...",224.0
4954,Zambia,2015,Life expectancy at birth for both sexes (years),59.7
4955,Zambia,2015,Life expectancy at birth for males (years),57.5
4956,Zambia,2015,Life expectancy at birth for females (years),61.9
4957,Zimbabwe,2005,Population annual rate of increase (percent),1.1
4958,Zimbabwe,2005,Total fertility rate (children per women),4.0
4959,Zimbabwe,2005,"Infant mortality for both sexes (per 1,000 liv...",67.2
4960,Zimbabwe,2005,"Maternal mortality ratio (deaths per 100,000 p...",629.0
4961,Zimbabwe,2005,Life expectancy at birth for both sexes (years),44.1
4962,Zimbabwe,2005,Life expectancy at birth for males (years),42.7
4963,Zimbabwe,2005,Life expectancy at birth for females (years),45.5
4964,Zimbabwe,2010,Population annual rate of increase (percent),1.7
4965,Zimbabwe,2010,Total fertility rate (children per women),4.0
4966,Zimbabwe,2010,"Infant mortality for both sexes (per 1,000 liv...",58.3
4967,Zimbabwe,2010,"Maternal mortality ratio (deaths per 100,000 p...",446.0
4968,Zimbabwe,2010,Life expectancy at birth for both sexes (years),48.4
4969,Zimbabwe,2010,Life expectancy at birth for males (years),47.2
4970,Zimbabwe,2010,Life expectancy at birth for females (years),49.4
4971,Zimbabwe,2015,Population annual rate of increase (percent),2.3
4972,Zimbabwe,2015,Total fertility rate (children per women),4.0
4973,Zimbabwe,2015,"Infant mortality for both sexes (per 1,000 liv...",46.5
4974,Zimbabwe,2015,"Maternal mortality ratio (deaths per 100,000 p...",443.0
4975,Zimbabwe,2015,Life expectancy at birth for both sexes (years),57.6
4976,Zimbabwe,2015,Life expectancy at birth for males (years),56.1
4977,Zimbabwe,2015,Life expectancy at birth for females (years),59.0